<button {{action 'launchConfirmDialog'}}>{{text}}</button>
{{#if confirmShown}}
<div class='confirm-dialog'>
    <button class="confirm-submit" {{action 'submitConfirm'}}>Ok</button>
    <button class="confirm-cancel" {{action 'submitCancel'}}>Cancel</button>
</div>
{{/if}}