<h2>Info & Testing</h2>
<h3>Components</h3> 
<li>to list hotels</li>
<h3>Controllers</h3> 
<li>to ...</li>
<h3>Custum Helpers</h3> 
<li><strong>star-generator:</strong> to replace stars number with image according to the stars of the hotels</li>
<li><strong>discount-calculator:</strong> to calculate discount if provided and replace the original price</li>







